body {
  background: #ECECEC;
  font-family: "Source Sans Pro", sans-serif;
}

.card {
  border-radius: 0px !important;
  border: 0px;
}

.radius-25 {
  border-radius: 25px;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.mt-7 {
  margin-top: 7rem;
}

.fa-fw {
  text-align: center;
  width: 1.25em;
}

@media screen and (min-width: 992px) {
  .hidden-lg {
    display: none;
  }

  .w-1170 {
    width: 1170px;
    margin: 0 auto;
  }
}
nav.navbar {
  transition: 0.5s all;
}

.logo-nav .uba-icon.uba-logo {
  font-size: 4rem;
  color: white;
}

a.navbar-brand .uba-icon.uba-logo {
  font-size: 3rem;
}

.nav-transparent {
  background-color: transparent !important;
}

.menu-wrapper {
  position: fixed;
  width: 250px;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.973);
  z-index: 9999;
  animation: slide 0.5s forwards;
  animation-delay: 2s;
  transition: 0.4s all;
}
.menu-wrapper .wrapper-ul .link-nav {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.menu-wrapper .wrapper-ul a.nav-link {
  color: #e2e1e1;
  font-weight: 700;
  position: relative;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  transition: 0.5s all;
}
.menu-wrapper .wrapper-ul a.nav-link:hover, .menu-wrapper .wrapper-ul a.nav-link:focus {
  transform: translate(20px, 0px);
}
.menu-wrapper .wrapper-ul a.nav-link:hover::after, .menu-wrapper .wrapper-ul a.nav-link:focus::after {
  background-color: #fff;
  width: 50%;
  position: absolute;
  bottom: 14px;
  height: 2px;
  left: 17px;
  right: 0;
  content: "";
}

#nav-collapse {
  transition: 0.4s all;
}
#nav-collapse ul {
  list-style-type: none;
}
#nav-collapse ul li a {
  display: block;
  color: white;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  text-decoration: none;
  animation: slide 0.5s forwards;
  transition: 0.4s all;
}
#nav-collapse ul li a:hover, #nav-collapse ul li a:focus {
  transform: translate(20px, 0px);
}
#nav-collapse .toggle-hide {
  display: none !important;
}

.menu-wrapper.hide {
  width: 0px;
  transition: 0.4s all;
}

/* Navbar CSS */
nav.col.navbar.navbar-expand-lg.navbar-light.bg-light {
  z-index: 9;
  transition: 0.4s ease-in-out;
}

ul.nav.navbar-nav li.nav-item {
  padding: 0.6rem;
}
ul.nav.navbar-nav li.nav-item a.nav-link {
  color: white;
}

.navbar-ul-wrap {
  position: relative;
}

button.btn-menu-nav {
  color: white;
  font-weight: 700;
  background-color: tomato;
  border-radius: 0px;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1.3rem;
}

.nav-hide {
  top: -60px !important;
}

.nav-show {
  top: 0px !important;
}

/* Jumbotron Styling */
.jumbotron {
  background-color: transparent;
}

.jumbotron.hero {
  top: 0;
  left: 0;
  width: 100%;
  background-position: bottom center;
  background-size: cover;
}

.custom-jumbotron {
  padding: 0;
  margin: 0;
}

.wrapper {
  z-index: 5;
}

.jumbotron-overlay {
  background-color: rgba(0, 0, 0, 0.329);
  height: 100vh;
  display: flex;
  position: relative;
}
@media screen and (min-width: 992px) {
  .jumbotron-overlay .wrapper h5.jumbo-text {
    font-size: 1.7rem;
  }
}
.jumbotron-overlay::after {
  content: "";
  background: #a28020;
  left: 0;
  right: -40px;
  margin-left: auto;
  bottom: -41px;
  width: 70%;
  position: absolute;
  height: 41px;
  transform: skewX(-51deg);
}

.uba-icon.uba-logo.uba-screen {
  font-size: 4rem;
}

.text-brown {
  color: #E2BA52;
}

.bg-brown {
  background-color: #c4992c;
  color: white;
}

h3.text-brown {
  border-bottom: 1px solid #e2ba52;
  padding-bottom: 5px;
}

button.btn.bg-brown.p-2.radius-25 {
  margin-top: 4rem;
  color: #e2ba52;
  padding-left: 24px !important;
  padding-right: 24px !important;
  background: transparent;
  border: 2px solid #e2ba52;
}
button.btn.bg-brown.p-2.radius-25:hover {
  color: white;
  border: 2px solid #fff;
}

/* card intro style */
.img-top {
  background-size: cover !important;
  height: 300px;
}

.img-btm {
  height: 300px;
}

.card-first {
  min-height: 300px;
  box-shadow: 0px 15px 7px 7px #c1c1c1;
  transition: 0.3s all ease-in-out;
}

.card-height {
  min-height: 300px;
  box-shadow: 0px 15px 7px 7px #c1c1c1;
  transition: 0.3s all ease-in-out;
}
.card-height .order-first {
  order: 1;
}
.card-height .order-last {
  order: 3;
}

/* explain card */
.explain-card {
  border-radius: 0px;
  background-size: cover;
  background-position: center;
}
.explain-card .card-body .box-text {
  padding-top: 3.2rem;
  padding-bottom: 3.2rem;
}
.explain-card .overlay.opacity-50 {
  background-color: rgba(0, 0, 0, 0.486);
  position: relative;
}
.explain-card .overlay::before {
  content: "";
  width: 70%;
  height: 40px;
  left: -25px;
  right: 0;
  top: -40px;
  background-color: #c18c2b;
  position: absolute;
  transform: skewX(-51deg);
}

.card.card-how .card-header h4 {
  line-height: 2.3;
}

/* carousel owl styling */
section.carousel-slide .card-how .card-header {
  width: 80%;
  margin: 0 auto;
  border: none;
  background: #ffffff;
  height: 80px;
  margin-top: -40px;
  border-radius: 0px;
}

.img-carousel {
  height: 250px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-size: cover !important;
  background-position: center !important;
  display: flex;
}

span.span-owl.bg-light.p-3 {
  margin-bottom: -16px !important;
  align-self: flex-end;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  background: #000000c9 !important;
  color: white;
}

.owl-carousel .owl-nav button.owl-prev {
  padding: 20px !important;
  border-radius: 50% !important;
  background-color: black !important;
  color: #fff !important;
}
.owl-carousel .owl-nav button.owl-next {
  padding: 20px !important;
  border-radius: 50% !important;
  background-color: black !important;
  color: #fff !important;
}

/* quotes boxes */
section.quotes {
  margin-top: 1.4rem;
}

.quotes-box {
  word-wrap: break-word;
  width: 75%;
  font-style: italic;
}
.quotes-box p {
  position: relative;
}
.quotes-box p::before {
  content: open-quote;
}
.quotes-box p::after {
  content: close-quote;
}

section.quotes .owl-nav {
  display: none;
}
section.quotes .owl-dots {
  display: none;
}

/* card maps styling */
.card-maps .card-body {
  padding: 0 !important;
}
.card-maps .text-box ul {
  list-style: none;
  padding-inline-start: 0px;
}

.maps-img {
  background-size: cover !important;
  background-position: bottom !important;
  height: 400px;
}

.text-box li {
  background: #828484;
  margin: 9px;
  padding: 8px;
  color: #fff !important;
  border-radius: 4px;
  overflow: hidden;
}
.text-box li a {
  color: #fff;
}

/* Halaman Gallery */
.z-index-2 {
  z-index: 2;
}

.z-index-0 {
  z-index: 0;
}

.card-situs {
  padding: 0px;
}

.m-width {
  max-width: 80% !important;
}

.img-site {
  min-height: 200px;
  background-size: cover !important;
  background-position: center;
  transition: 0.5s all;
}
.img-site:hover {
  overflow: hidden;
}

.border-situs {
  border: 2px solid white;
  padding: 10px;
  color: white;
  transition: 0.5s all;
  cursor: pointer;
}
.border-situs:hover {
  transform: scale(1.05);
}

.situs-wwrapper {
  overflow: hidden !important;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.63);
  height: 100%;
  transition: 0.4s all;
}
.overlay:hover {
  background-color: transparent;
}

.banner-situs {
  min-height: 350px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.banner-situs h3 {
  text-transform: uppercase;
  font-weight: 700;
}

.text-banner h4 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  font-weight: 600;
  text-align: center;
}

/* Halaman fasilitas */
.caption-fasilitas {
  padding: 1.4rem;
}

@media screen and (min-width: 992px) {
  .facility-container {
    position: relative;
    height: 100%;
    background: #fff;
    margin-top: 60px;
    border-radius: 25px;
    overflow: hidden;
  }
  .facility-container::before {
    position: absolute;
    display: block;
    content: "";
    background: url(../image/wrap.png);
    height: 180px;
    width: 100%;
    left: 0;
    top: 55%;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .fasilitas-image {
    background-size: cover;
    background-position: center;
    margin-left: 3rem;
    margin-right: 3rem;
    top: 0;
    left: 0;
    right: 0;
    height: 300px;
    box-shadow: 3px 8px 14px 5px #0000007a;
  }

  .order-lg-2 .fasilitas-image {
    right: -30px;
    left: 0px;
  }
}
@media screen and (max-width: 991px) {
  .facility-container {
    position: relative;
    height: 100%;
    background: #fff;
    margin-top: 60px;
    border-radius: 25px;
    overflow: hidden;
  }
  .facility-container::before {
    position: absolute;
    display: block;
    content: "";
    background: url(../image/wrap.png);
    height: 180px;
    width: 100%;
    left: 0;
    top: 75%;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .fasilitas-image {
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 100%;
    margin: 0 auto;
    top: -34px;
    position: relative;
  }
  .fasilitas-image::before {
    content: "";
    background: linear-gradient(to bottom, rgba(237, 237, 237, 0) 0%, rgba(246, 246, 246, 0) 35%, rgba(255, 255, 255, 0.73) 100%);
    height: 100%;
    width: 100%;
    position: absolute;
  }
}
.imagez {
  position: relative;
  height: 400px;
  background: #fff;
  margin-top: 60px;
  border-radius: 25px;
  overflow: hidden;
}
.imagez::before {
  position: absolute;
  display: block;
  content: "";
  background: url(../image/wrap.png);
  height: 180px;
  width: 100%;
  left: 0;
  top: 55%;
  left: 0;
  right: 0;
  bottom: 0;
}

/* footer */
.footer-logo .uba-icon {
  font-size: 1.6rem;
}

ul.footer-list {
  padding-inline-start: 5px;
  margin-bottom: 0px;
}
ul.footer-list li {
  list-style: none;
  padding-left: 8px;
  padding-right: 8px;
  display: inline-block;
}
ul.footer-list a {
  text-decoration: none;
  color: grey;
}
ul.footer-list:hover {
  color: #dfdfdf;
}

/*# sourceMappingURL=style.css.map */
