



body{
   background: #ECECEC;
   font-family: 'Montserrat', sans-serif;
   font-size: .9rem;
}

.vh-80{
   height: 80vh;
}

.card{
   border-radius: 0px !important;
   border: 0px;
}

.radius-25{
   border-radius: 25px;
}

.overflow-x-hidden{
   overflow-x: hidden;
}

.mt-7{
   margin-top: 7rem;
}

.form-control {
   border-radius: 0px;
   &:focus{
      
   }
}


@media screen and (min-width: 992px){
   .hidden-lg{
      display: none;
   }

   .w-1170{
       width: 1170px;
       margin: 0 auto;
    }
}