  /* card intro style */
  .img-top{
   background-size: cover !important;
   height: 300px;
  }

  .img-btm{
   height: 300px;
  }

  .order-first{
   order: 1;
   }

   .order-last{
      order: 3;
   }

  .card-first{
     min-height: 300px; 
     box-shadow: 0px 0px 2px 2px #c1c1c1;
     transition: .3s all ease-in-out;
      &:hover{
         box-shadow: 0px 0px 0px 0px white;
      }
   }

 
  .card-height{
    min-height: 300px; 
    box-shadow: 0px 0px 2px 2px #c1c1c1;
    transition: .3s all ease-in-out;
    &:hover{
      box-shadow: 0px 0px 0px 0px white;
   }
  }

  /* explain card */
  .explain-card{
     border-radius: 0px;
     background-size: cover  ;
     background-position: center;  
     .card-body{
         .box-text{
            padding-top: 3.2rem;
            padding-bottom: 3.2rem;
        }
     }   
      .overlay.opacity-50{
         background-color: rgba(0, 0, 0, 0.486);
         position: relative;
      }  
      .overlay{
         &::before{
            content: "";
            width: 70%;
            height: 40px;
            left: -25px;
            right: 0;
            top: -40px;
            background-color: #c18c2b;
            position: absolute;
            transform: skewX(-51deg);
         }
      }
  }

  .card.card-how{
   .card-header h4{
      line-height: 2.3;
   }
  } 