  /* card intro style */
  .img-top{
   background-size: cover !important;
   height: 300px;
  }

  .img-btm{
   height: 300px;
  }

  .card-first{
     min-height: 300px; 
     box-shadow: 0px 15px 7px 7px #c1c1c1;
     transition: .3s all ease-in-out;
   }


  .card-height{
    min-height: 300px; 
    box-shadow: 0px 15px 7px 7px #c1c1c1;
    transition: .3s all ease-in-out;
  }

  

  /* explain card */
  .explain-card{
     border-radius: 0px;
     background-size: cover  ;
     background-position: center;  
     .card-body{
         .box-text{
            padding-top: 3.2rem;
            padding-bottom: 3.2rem;
        }
     }   
      .overlay.opacity-50{
         background-color: rgba(0, 0, 0, 0.486);
         position: relative;
      }  
      .overlay{
         &::before{
            content: "";
            width: 70%;
            height: 40px;
            left: -25px;
            right: 0;
            top: -40px;
            background-color: #c18c2b;
            position: absolute;
            transform: skewX(-51deg);
         }
      }
  }

//   Responsive Mobile first 
  @media screen and (max-width:991px){
   section.intro-image h3{
      font-size: 1.2rem;
      font-weight: bolder;
   }
   .explain-card{
      .card-body{
         h4.jumbo-text{
            font-size: 1.1rem;
         }
      }
   }
   section.maps-info{
      h3{
         font-size: 1.4rem;
      }
      ul li a{
         font-size: .8rem;
      }
   }

   .fasilitas-box{
      margin-bottom: 8rem;
   }

   .banner-situs h3{
      font-size: 1.2rem;
   }

   p.btm-child{
      color: white;
      margin-top: 1.6rem;
      margin-left: 1.3rem;
   }

  }

  .card.card-how{
   .card-header h4{
      line-height: 2.3;
   }
  } 

  section.maps-info{
   @media screen and (max-width:991px){
      margin-bottom: 3.5rem;
   }
   .card-maps{
      .text-box{
         @media screen and (max-width: 991px){
            width: 100%;
            margin-top: 2rem;
            margin-bottom: 2rem;
         }
         @media screen and (min-width: 992px){
            margin-left: auto;
            margin-right: auto;
         }
      }
   }
  }