  /* Halaman Gallery */
  .z-index-2{
      z-index: 2;
   }

   .z-index-0{
      z-index: 0;
   }

  .card-situs{
   padding: 0px;
   }

   .m-width{
      max-width: 80% !important;
   }

   .img-site{
   min-height: 200px;
   background-size: cover !important;
   background-position: center;
   transition: .5s all;
      &:hover{
         overflow: hidden;
      }
   }


   .border-situs{
      border: 2px solid white;
      padding: 10px;
      color: white;
      transition: .5s all;
      cursor: pointer;
      &:hover{
         transform: scale(1.05);
      }
   }

   .situs-wrapper{
      overflow: hidden !important;
   }

   .overlay{
      background-color: rgba(0, 0, 0, 0.63);
      height: 100%;
      transition: .4s all;
      &:hover{
         background-color: transparent;
      }
   }

   .banner-situs {
      min-height: 450px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      h3{
         text-transform: uppercase;
         font-weight: 700;
         background: #4bb5abd1;
         padding: 0.5rem;
      }
   }

   .text-banner h4{
      margin-top: 1.25rem;
      margin-bottom: 1.25rem;
      font-weight: 600;
      text-align: center;
   }